body{
    background-color: black;
}

nav{
    width: 1700px;
    height: 150px;
    background-color: rgb(47, 47, 47);
    float: left;
    margin-left: 75px;
    border-radius: 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    margin-top: -100px;
    float: left;
    margin-left: 310px;
}

nav ul li{
    float: left;
    display: flex;
    margin: 0 0 0 80px;
}

nav ul li a{
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.logo img{
    width: 150px;
    height: 150px;
}

.user img{
    width: 80px;
    height: 80px;
    float: right;
    margin-top: -120px;
    margin-right: 80px;
}

section .txt p{
    color: white;
    text-align: center;
    font-size: 20px;
    float: left;
    margin-top: -554px;
    margin-left: 700px;
    max-width: 1000px;
}

section img{
    width: 550px;
    height: 550px;
    margin-top: 50px;
    margin-left: 75px;
    border-radius: 30px;
}

section .btn-vote{
    width: 200px;
    height: 60px;
    background-color: rgb(47, 47, 47);
    float: left;
    margin-left: 58.5%;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

section .btn-vote a p{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
}

section .sub-txt-btn p{
    color: white;
    float: left;
    margin-left: 55.2%;
    margin-top: -120px;
    font-size: 30px;
}
/*...................................2024-09-11...................................*/

/*Falta add algumas fontes e o nome no final da página!*/