body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #84c6e3;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
}

#logo_topo{
    width: 20%;
}
.espaco{
    width: 30%;
}

header img{
    height: 100px;
}

nav{
    width: 50%;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li{
    width: 25%;
    text-align: center;
    height: 110px;
    list-style: none;
    transition: 0.5s;
}
nav ul li:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

nav ul li a{
    width: 100%;
    margin: 40px 0 40px 0;
    text-decoration: none;
    float: left;
}

section{
    width: 100%;
}

section .form{
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: 50px auto;
}